@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<body >
    <div align="left">
     <a  href="@Url.Action("Index","Home")"><img src="~/Bilder/LagaLogo.png" /></a>
        </div>
    <div style="margin-bottom:0px; padding-bottom:10px;">
        <section id="login">
        @Html.Partial("_LoginPartial")
            </section>
    </div>
</body>
</html>
